.table {
    border-width: 1px;
    border-radius: 23px;
    border-color: black !important;
    border-style: solid;
    border-radius: 50%;
  }

  .vv{
    color: lavender;
  }

  .btn{
    background-color: #dde5e9 !important;
    border-radius: 5px;
    height: 68px;
    width: 160px;
    margin: 0px 50px 0px 45px;
  }